@import "../../scss/variables";

$cubeSize: 30px;
$count: 1;


@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.machineContainer {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border: #c4c9d0 1px solid;
  padding: 20px;
  border-radius: 10px;

  .machineLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
}



