@import "../../scss/variables";

$cubeSize: 30px;
$count: 1;


@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.machineContainer {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border: #c4c9d0 1px solid;
  padding: 20px;
  border-radius: 10px;

  .machineLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .machineCard {
      width: 100px;
      padding: 20px;
      border-radius: 10px;
      cursor: 'pointer';
      margin: 10px;
      border: $secondary-25 1px solid;
    
      &:hover {
        box-shadow: 1px 2px 10px #4E4D4D;
        transform: translateY(-2px);
      }
    
      &:active {
        box-shadow: 0 0 5px #4E4D4D;
        transform: translateY(2px);
      }

      .machineName {
        text-align: center;
        margin-bottom: 0px;
        font-size: 12px;
        margin-top: 20px
      }
    
      .cubeWrapper {
        .cube {
          position: relative;
          width: $cubeSize;
          height: $cubeSize;
          transform-style: preserve-3d;
          transform: rotateX(-30deg);
          animation: animate 4s linear infinite;
          margin: auto;
      
          .top {
            position: absolute;
            top: 0;
            left: 0;
            width: $cubeSize;
            height: $cubeSize;
            background: #222;
            transform: rotateX(90deg) translateZ($cubeSize / 2);
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: $cubeSize;
              height: $cubeSize;
            }
          }
          .safe {
            &::before {
              background: #0f0;
              transform: translateZ(-($cubeSize+8));
              filter: blur(5px);
              box-shadow: 0 0 120px rgba(0, 255, 0, 0.2)
              0 0 120px rgba(0, 255, 0, 0.4)
              0 0 120px rgba(0, 255, 0, 0.6)
              0 0 120px rgba(0, 255, 0, 0.8)
              0 0 120px rgba(0, 255, 0, 1)
              ;
            }
          }
          .danger {
            &::before {
              background: $red;
              transform: translateZ(-($cubeSize+8));
              filter: blur(5px);
              box-shadow: 0 0 120px $danger-dark
              0 0 120px $danger-base
              0 0 120px $danger-50
              0 0 120px $danger-25
              ;
            }
          }

          .warning {
            &::before {
              background: $warning-dark;
              transform: translateZ(-($cubeSize+8));
              filter: blur(5px);
              box-shadow: 0 0 120px $warning-dark
              0 0 120px $warning-base
              0 0 120px $warning-50
              0 0 120px $warning-25
              ;
            }
          }
      
      
          div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
    
            .span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            

            @for $i from 1 through 4 {
              .safe-#{$i} {
                background: linear-gradient(#151515, #00ec00);
                transform: rotateY(calc(90deg * ($i - $count))) translateZ($cubeSize / 2);
              }
              .warning-#{$i}{
                background: linear-gradient(#151515, $orange);
                transform: rotateY(calc(90deg * ($i - $count))) translateZ($cubeSize / 2);
              }
              .danger-#{$i} {
                background: linear-gradient(#151515, $red);
                transform: rotateY(calc(90deg * ($i - $count))) translateZ($cubeSize / 2);
              }
            }
            
          }
        }
      
      }
    }
  }
}



