// Here you can add other styles
@import './variables';

$dark-1: #2A2B36;
$dark-2: #404048;
$dark-3: #4B4B53;


.error-form {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #e55353 !important;
}

.note-form {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.warning-form {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #ffbb00 !important;
}

.success-form {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #47f213 !important;
}


.p-dropdown {
  border: 1px solid #B1B7C1 !important;
  .p-inputtext {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.dark-theme {
  color: #E6E6E7 !important;
  p {
    &:not(#chemical) {

      color: #E6E6E7 !important;
    }
  }

  .header {
    background: $dark-1!important;

  }

  .nav-item {
    background-color: $dark-1 !important;
  }

  .dropdown-menu {
    background: $dark-1!important;
    .dropdown-item {
      color: #E6E6E7 !important;
      cursor: default !important;

      &:hover {
        background-color: $dark-3;
      }
  
      &:active {
        background-color: $dark-2 !important;
      }
    }
  }

  .modal-content {
    background-color: $dark-2 !important;
  }

  .btn-primary {
    background-color: #9D97D6 !important;
    border-color: #9D97D6 !important;
  }

  .btn-close {
    color: #E6E6E7 !important;
    background-color: #E6E6E7 !important;
  }
  
  .bg-primary {
    background-color: #857DCC !important;
  }
  
  .bg-light {
    background-color: #181925 !important;
  }
  .bg-white {
    background-color: $dark-2 !important;
  }
  
  .bg-info {
    background-color: #3399FF !important;
  }
  
  .card-header {
    background-color: #282A33 !important;
  }
  
  .table-hover {
    tr {
  
      &:hover {
        * {
          color: white !important;
        }
  
      }
    } 
  
  }
  
  .table {
    background-color: $dark-3 !important;
    color: #E6E6E7 !important;
    tr {
      &:hover {
        color: white !important;
      }
    }
  
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
      background-color: white !important;
    }
  }
  
  li {
    color: #E6E6E7 !important;

    
  }

  .react-datepicker__time-list-item  {
    color: #181925 !important;
  }

  
  a {
    color: #948dd2 !important;
  }
  
  .sidebar {
    background-color: #181925 !important;

    .sidebar-nav {
      // background-color: #181925 !important;
      background-color: $dark-1 !important;
      .nav-item {
        color: #E6E6E7 !important;
        background-color: $dark-1 !important;
      }

      .nav-link {
        color: #E6E6E7 !important;
      }
       .nav-link .active {
        background-color: #373842 !important;
       }
    }
   
  }

  // .form-switch {
    .form-check-input {
      &:checked {
        color: #948dd2 !important;
        background-color: #948dd2 !important;
        border-color: #948dd2 !important;
      }
    }
  // }
  
  .footer {
    background-color: $dark-1 !important;
  }

  .form-control, 
  .form-select {
    color: #E6E6E7 !important;
    background-color: $dark-1 !important;
    &:disabled {
      background-color: #d8dbe0 !important;
      color: #8A94A2 !important;
    }
  }


  option {
    color: #E6E6E7 !important;
  }

  .p-multiselect,  
  .p-multiselect-header,
  .p-multiselect-panel{
    background-color: $dark-1 !important;

    .p-multiselect-item {

      &:hover {
        background-color: $dark-2 !important;
      }
    }
    .p-highlight {
      background-color: $dark-2 !important;
    }
  }

}